.Div{
    background-color:lightgreen;
    color:black;
    margin-top: 15px;
    width:50%;
    margin:5px auto;
    padding:16px;
    border:2px solid black;
}

.Div:hover{
    background-color:red;
    color:white;
    border:5px solid black;
}

.inp{
    background-color: black;
    color:white;
    text-align:center;
}